<h2>Enter Your Admin credentials to login</h2>

<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="test" class="form-control" id="username" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"> never share your credentials with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <div><button type="submit" class="btn btn-success" ><a routerLink="/home" style="text-decoration: none;" >Submit</a></button></div>
  </form>
