<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


  <br>
  <button type="button" routerLink="/home"  class="btn btn-success"><img width="60" height="25" src="assets/images/home.png"/></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <button type="button" routerLink="/addflight"  class="btn btn-success"><span class="glyphicon glyphicon-plus"> </span>&nbsp;Add New Flight</button>
  
  <h2 class="text-center">All Flights Information</h2>
  
  <div class="container">
    <table class="table table-dark" >
      <thead>
        <tr>
         
          <th>FlightNumber</th>
          <th>OperatingAirlines</th>
          <th>FromPlace</th>
          <th>ToPlace</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>ScheduleDays</th>
          <th>BusinessSeat</th>
          <th>Non-BusinessSeats</th>
          <th>Cost</th>
          <th>DateOfDeparture</th>
         <th colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Action</th>
         
        </tr>
      </thead>
      <tbody>
     
      <tr *ngFor="let flight of allflights" id="flightdetails">
         
        <td>{{flight.flightNumber}}</td>
        <td>{{flight.operatingAirlines}}</td>
        <td>{{flight.fromPlace }}</td>
        <td>{{flight.toPlace }}</td>
        <td>{{flight.startDate | date}}</td>
        <td>{{flight.endDate | date}}</td>
        <td>{{flight.scheduleDays }}</td>
        <td>{{flight.businessSeats }}</td>
        <td>{{flight.nonBusinessSeats}}</td>
        <td>{{flight.cost | currency:'INR'}}</td>
        <td>{{flight.dateOfDeparture | date}}</td>
        <td><button (click)="updateFlight(flight.flightNumber)" class="btn btn-success"> <span class="glyphicon glyphicon-pencil"></span>&nbsp;Update</button></td>
        <td> <button type="button"  (click)="deleteFlight(flight.flightNumber)" class="btn btn-danger">  <span class="glyphicon glyphicon-remove-circle"></span>&nbsp; Delete</button></td>
        <td> <button type="button"  (click)="ViewFlightDetails(flight.flightNumber)" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;View</button></td>
      </tr>
      
  
    
      </tbody>
    </table>

  </div>

  

</body>