<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <title>Add Flight</title>
</head>
<body>
  <br>
  <h1><button type="button" routerLink="/allflights" class="btn btn-success text-center"> See All Flights</button></h1><br>
    <h2 class="text-center" >Enter New Flight Information to create</h2>
    <div class="col-md-8 offset-md-4">  
      <p class="msg_success" class="text-info"><b>{{ msg }}</b></p>
    <form (ngSubmit)="onSubmit()" #add="ngForm">
     
        <div class="form-group ">
            <label for="FlightNumber">Flight Number</label>
            <input type="number" class="form-control" id="FlightNumber" #FlightNumber="ngModel" name="FlightNumber" [(ngModel)]="addFlight.flightNumber"  placeholder="Enter new FlightNumber" 
            required pattern="[0-9]{4,6}">
            <div class="text-danger" *ngIf="FlightNumber.invalid && (FlightNumber.dirty || FlightNumber.touched)">
              <span *ngIf="FlightNumber.errors?.['required']"> FlightNumber must be fill</span>
              <span *ngIf="FlightNumber.errors?.['pattern']"> FlightNumber must be 4 to 6 digit</span>
            </div>
            
          </div>
    
        <div class="form-group">
          <label for="AirlineName">Operating Airline Name</label>
          <input type="text" class="form-control" id="AirlineName" #AirlineName="ngModel" 
           name="AirlineName" [(ngModel)]="addFlight.operatingAirlines" placeholder="Enter AirlineName"
           
           required pattern="[A-Za-z0-9]{6,15}">
     
        </div>
        <div class="text-danger" *ngIf="AirlineName.invalid && (AirlineName.dirty || AirlineName.touched)">
          <span *ngIf="AirlineName.errors?.['required']"> AirlineName must be fill</span>
          <span *ngIf="AirlineName.errors?.['pattern']"> AirlineName must be 6 to 15 characters</span>
        </div>
    
        <div class="form-group">
            <label for="fromPlace">from Place</label>
            <input type="text" class="form-control" id="fromPlace" #fromPlace="ngModel" 
             name="fromPlace" [(ngModel)]="addFlight.fromPlace"  placeholder="Enter fromPlace like MUM"
             required pattern="[A-Za-z]{2,10}">
          </div>
          <div class="text-danger" *ngIf="fromPlace.invalid && (fromPlace.dirty || fromPlace.touched)">
            <span *ngIf="fromPlace.errors?.['required']">fromPlace must be fill</span>
            <span *ngIf="fromPlace.errors?.['pattern']"> fromPlace must be contain characters only</span>
          </div>
    
          <div class="form-group">
            <label for="toPlace">to Place</label>
            <input type="text" class="form-control" id="toPlace" #toPlace="ngModel" name="toPlace" 
            [(ngModel)]="addFlight.toPlace"  placeholder="Enter toPlace like DEL" required pattern="[A-Za-z]{2,10}">
          </div>
          <div class="text-danger" *ngIf="toPlace.invalid && (toPlace.dirty || toPlace.touched)">
            <span *ngIf="toPlace.errors?.['required']">toPlace must be fill</span>
            <span *ngIf="toPlace.errors?.['pattern']"> toPlace must be contain characters only</span>
          </div>
    
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control datepicker" name="date" id="date" [(ngModel)]="addFlight.startDate" aria-describedby="startDate" placeholder="Enter startDate">
          </div>
    
          <div class="form-group">
            <label for="endDate">End  Date</label>
            <input type="date" class="form-control datepicker" name="date" id="date" [(ngModel)]="addFlight.endDate" aria-describedby="endDate" placeholder="Enter endDate">
          </div>
    
        <div class="form-group">
          <label for="scheduleDays">Schedule Days</label>
          <input type="text" class="form-control" name="scheduleDays" id="scheduleDays" placeholder="Enter scheduleDays" [(ngModel)]="addFlight.scheduleDays" aria-describedby="scheduleDays">
        </div>

        <div class="form-group">
            <label for="businessseats">Business seats</label>
            <input type="number" class="form-control" name="businessseats" id="businessseats"  [(ngModel)]="addFlight.businessSeats" aria-describedby="businessseats" placeholder="Enter business seats">
          </div>

          
        <div class="form-group">
            <label for="nonbusinessseats">Non-businessseats</label>
            <input type="number" class="form-control" name="nonbusinessseats" id="nonbusinessseats"  [(ngModel)]="addFlight.nonBusinessSeats" aria-describedby="nonbusinessseats" placeholder="Enter non-business seats">
          </div>

          <div class="form-group">
            <label for="cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="cost" aria-describedby="cost" [(ngModel)]="addFlight.cost" placeholder="Enter ticket cost">
          </div>
        
          <div class="form-group">
            <label for="dateOfDeparture"> Date of Departure</label>
            <input type="date" class="form-control datepicker" required #dateOfDeparture="ngModel" name="dateOfDeparture" id="dateOfDeparture" [(ngModel)]="addFlight.dateOfDeparture" aria-describedby="dateOfDeparture" placeholder="Enter date Of Departure">
          </div>
          <div class="text-danger" *ngIf="dateOfDeparture.invalid && (dateOfDeparture.dirty ||dateOfDeparture.touched)">
            <span *ngIf="dateOfDeparture.errors?.['required']">Enter meal please</span>
            <span *ngIf="dateOfDeparture.errors?.['pattern']">meal must contain characters</span>
          </div>
          <br>

          <button class="btn btn-success" [disabled]="add.form.invalid">Add New Flight</button>
     
        
      </form>
      
    </div > 
</body>
 
</html>