<h1>Search flights
</h1><p>Fly anywhere. Fly everywhere.</p>      
<body>
   
    <form  (ngSubmit)="onSubmit()">
     
        
      <!-- From Place Start-->
    
        <div class="form-group">
           <b>From Place</b>
            <input type="text" class="form-control"    
             id="fromPlace"  [(ngModel)]="fromPlace" 
            name="fromPlace"   placeholder="Enter fromPlace code like DEL">
          </div>

        

         
        <!-- From Place Closed-->
    

         <!-- To Place Start-->
          <div class="form-group">
           <b>to Place</b>
            <input type="text" class="form-control"  id="toPlace" [(ngModel)]="toPlace"  name="toPlace"   placeholder="Enter toPlace code like.. MUM">

          </div>
          
          
         
 <!-- To Place Closed-->

 <!-- startDatestart-->

          <div class="form-group">
           <b>Start Date</b>
            <input type="Date" class="form-control"  name="date" [(ngModel)]="startDate" id="startDate"   placeholder="Enter startDate">
          </div>
          
         

          <!-- startDate Closed-->
    
          <br>
       

          <!-- (click)="getAllSearch(fromPlace,toPlace,startDate)" -->
         <div> <button class="btn btn-outline-warning" >Search</button></div>
     
    </form>
     
   

  <hr>
  <h2 >{{sms}}</h2>
      <div class="container-fluid">
        <table class="table table-dark">
          
          <tbody>
          
        
          <tr *ngFor="let flight of allflights">
          
            <td> <b>FlightNumber  </b><br>{{flight.flightNumber}}</td>
            <td><b>OperatingAirlines</b><br>{{flight.operatingAirlines}}</td>
            <td><b>FromPlace</b><br>{{flight.fromPlace }}</td>
            <td><b>ToPlace</b><br>{{flight.toPlace }}</td>
            <td><b>StartDate</b><br>{{flight.startDate | date}}</td>
            <td><b>EndDate</b><br>{{flight.endDate | date}}</td>
            <td><b>ScheduleDays</b><br>{{flight.scheduleDays }}</td>
            
            <td><b>Cost</b><br>{{flight.cost | currency:'INR'}}</td>
            <td><b>DateOfDeparture</b><br>{{flight.dateOfDeparture | date}}</td>
            <td><b>Action</b><br><button class="btn btn-primary" routerLink="/bookflight">Book</button></td>
           
          </tr>
          
      
        
          </tbody>
        </table>
    
      </div>
    
    <div> </div>
    
    
   

    <h1><b>Popular destinations</b></h1>
 <p> Revisit an old favorite or get a taste of someplace new</p>
 <body>
  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
    
        <img src="assets/images/Delhi.PNG" alt="Lights" style="width:100%"/>
        <div class="caption">
          <b>Delhi</b>
         
        </div>
       
      
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
     
        <img src="assets/images/Dubai.PNG" alt="Nature" style="width:100%"/>
        <div class="caption">
          <p>Dubai</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
     
        <img src="assets/images/Goa.jfif" alt="Nature" style="width:100%"/>
        <div class="caption">
          <p>Goa</p>
        </div>
      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
     
        <img src="assets/images/landmarks.jpg" alt="Fjords" height="430" style="width:100%"/>
        <div class="caption">
          <p>London</p>
        </div>
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
     
        <img src="assets/images/Maldives.PNG" alt="Fjords" style="width:100%"/>
        <div class="caption">
          <p>Maldives</p>
        </div>
    
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
     
        <img src="assets/images/Kolkata.jpg" alt="KolKata" width="100%"  height="425"/>
        <div class="caption">
          <p>KolKata</p>
        </div>
    
    </div>
  </div>
</div>






  <h1>Why book on Cleartrip.com?</h1>
  <p>Cleartrip.com is centered on making travel simple and has been designed to let you look for cheap flights or complete your flight booking in just a few clicks. The booking experience is seamless and fast with our features like Expressway – which allows for easy checkout, Shortlist – this lets you compare multiple itineraries across dates, Fare alert – here we inform you of price drops or hikes, and even EMI options for expensive air tickets. Our round-the-clock customer service ensures all your queries and concerns are addressed efficiently and resolved.</p>
  <h1>How to search for cheap flights?</h1>
  <p>Our search is designed on the principle of best flight discovery and is very easy to use.</p>
  <li>Enter from and to city/airport</li>
  <li>Select the date of travel</li>
  <li>Choose the number of travelers and hit enter</li><br>
  <p>You’ll be directed to a search list of all the flights available with the cheapest ones on the top. You can further filter your search by choosing preferences and filters like time, duration, number of stops, and by airlines or even look for other dates by just clicking on the calendar visible on the right side of the page.

  </p>
  <h1>What’s more?</h1>
  <p>Flight ticket booking or planning your travel is made simpler with our round trip and multicity options. When you hit enter, your search list page shows the results for both onward and return in a split screen format letting you choose flights in one go for a round trip. The multicity search page shows a list of complete itineraries that removes the hassle of you calculating time, transfers and layovers letting you finish your online flight booking. To ensure you get the best price we highlight offers, sales and other promotions on the checkout page. Post booking, our portal allows for easy cancellations
     or amendments without having to make calls to the airlines.</p>
</body>




