<h1>Travel planning at your fingertips
</h1>
<table>
<td><b>Keeping it simple</b><br>

    We come together each day to fulfill a promise of offering the <br>
    single most comprehensive travel experience to users,<br> through award-winning Mobile and Desktop solutions. <br>
    With intuitive products that have the largest selection of <br> flights and hotels,
    we keep customers at the center of everything we do.</td>
    <td><div><img src="assets/images/about.PNG" width="800" height="400"></div></td>
</table>

<address>
    Written by <a href="mailto:dk@gmail.com.com">Durgeshkumar Gupta</a>.<br> 
    Visit us at:<br>
    www.cognizant.com<br>
    Box 564, Disneyland<br>
    USA
    </address>

