<h1>Search Your Booked Flight Here.....</h1>

<form>
     
        
  <!--email Start-->
  

    <div class="form-group">
       <b>Enter Email</b>
        <input type="email" class="form-control"      id="fromPlace"  [(ngModel)]="email" name="email"  placeholder="Enter fromPlace">
      </div>

     
    <!-- email Closed-->
   <br>
     
     <div> <button class="btn btn-outline-warning" (click)="EmailSearch()">Search</button></div>
 
</form>


<!-- PNR Form  -->

<form>
  
     <!-- PNR Start-->
      <div class="form-group">
       <b>Enter PNR</b>
        <input type="number" class="form-control"  id="PNR" [(ngModel)]="PNR" name="PNR"  placeholder="Enter PNR">

      </div>
 
<!-- PNR Closed-->
      <br>
   
      <!-- (click)="getAllSearch(fromPlace,toPlace,startDate)" -->
     <div> <button class="btn btn-outline-warning" (click)="PnrSearch()">Search</button></div>
 
</form>

<hr>
  
  <div class="container-fluid " >
    <table class="table table-dark">
      
      <tbody>
     
      <tr *ngFor="let flight of Bookflight">
         
        <td><h1>PNR</h1> {{flight.pnr}}</td>
        <td><h1>FirstNamer</h1>{{flight.userFirstName}}</td>
        <td><h1>LastNames</h1>{{flight.userLastName }}</td>
        <td><h1>Email</h1>{{flight.email }}</td>
        <td><h1>Age</h1>{{flight.age}}</td>
        <td><h1>Gender</h1>{{flight.gender}}</td>
        <td><h1>Address</h1>{{flight.address }}</td>
     
      </tr>
   
      </tbody>
    </table>

   
    <div> <h1 style="background-color: red;">{{msg}}</h1> </div>
  </div>



