<p>flightinformation works!</p>

<form>
     
        
  <!--email Start-->
  

    <div class="form-group">
       <b>Enter Email</b>
        <input type="email" class="form-control"      id="fromPlace"  [(ngModel)]="email" name="email"  placeholder="Enter fromPlace">
      </div>

     
    <!-- email Closed-->
   <br>
     
     <div> <button class="btn btn-outline-warning" (click)="EmailSearch()">Search</button></div>
 
</form>


<!-- PNR Form  -->

<form>
  
     <!-- PNR Start-->
      <div class="form-group">
       <b>Enter PNR</b>
        <input type="number" class="form-control"  id="PNR" [(ngModel)]="PNR" name="PNR"  placeholder="Enter PNR">

      </div>
 
<!-- PNR Closed-->
      <br>
   
      <!-- (click)="getAllSearch(fromPlace,toPlace,startDate)" -->
     <div> <button class="btn btn-outline-warning" (click)="PnrSearch()">Search</button></div>
 
</form>

<h2 class="text-center">All Flights Information</h2>
  
  <div class="container-fluid">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>PNR</th>
          <th>FirstNamer</th>
          <th>LastNames</th>
          <th>Email</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Address</th>
        
        </tr>
      </thead>
      <tbody>
     
      <tr *ngFor="let flight of Bookflight">
         
        <td>PNR {{flight.pnr}}</td>
        <td>{{flight.userFirstName}}</td>
        <td>{{flight.userLastName }}</td>
        <td>{{flight.email }}</td>
        <td>{{flight.age}}</td>
        <td>{{flight.gender}}</td>
        <td>{{flight.address }}</td>
     
      </tr>
   
      </tbody>
    </table>

   
    <div> <h1 style="background-color: red;">{{msg}}</h1> </div>
  </div>



