
<h1>User Book Flight</h1>
    
  
  <b routerLink="#">Manage Flight</b>  
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b routerLink="/flightinformation">Booking History</b>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b routerLink="/ticketbooked">Report</b>



  <div class="container">
    <table class="table table-dark" >
      <thead>
        <tr>
         
          <th>PNR Number</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Age</th>
          
          <th>Address</th>
         
         <th>
            &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp;Action</th>
         
        </tr>
      </thead>
      <tbody>
     
      <tr *ngFor="let flight of allBookflight" >
        <td>PNR  {{flight.pnr}}</td>
        <td>{{flight.userFirstName}}</td>
        <td>{{flight.userLastName}}</td>
        <td>{{flight.email }}</td>
        <td>{{flight.gender }}</td>
        <td>{{flight.age}}</td>
      
       
        <td>{{flight.address }}</td>
        
        <td> <button type="button"  (click)="deleteFlight(flight.pnr)" class="btn btn-danger">Cancel Flight</button></td>
       
        <!-- <td><button (click)="updateFlight(flight.flightNumber)" class="btn btn-success"> <span class="glyphicon glyphicon-pencil"></span>&nbsp;Update</button></td>
       
        <td> <button type="button"  (click)="ViewFlightDetails(flight.flightNumber)" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;View</button></td> -->
      </tr>
      
 
    
      </tbody>
    </table>
   <h2> {{smg}}</h2>
