a ,a:hover{
    font-size: 30px;
    background-color:rgb(9, 10, 10);
  }
  span {
    color: rgb(247, 243, 243);
}
p,li{
  font-size: 20px;
}
/* 
  p:hover, h1:hover, a:hover {
    background-color: yellow;
  }
   */