<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/addflight"><span>Add New Flight</span>   </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link ">UpdateFlight</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> | CancelFlight</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " routerLink="/allflights"> | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>All Flights Details</span></a>
          </li>
      </ul>
      
    </div>
  </nav>

  <h1>Why book on Cleartrip.com?</h1>
  <p>Cleartrip.com is centered on making travel simple and has been designed to let you look for cheap flights or complete your flight booking in just a few clicks. The booking experience is seamless and fast with our features like Expressway – which allows for easy checkout, Shortlist – this lets you compare multiple itineraries across dates, Fare alert – here we inform you of price drops or hikes, and even EMI options for expensive air tickets. Our round-the-clock customer service ensures all your queries and concerns are addressed efficiently and resolved.</p>
  <h1>How to search for cheap flights?</h1>
  <p>Our search is designed on the principle of best flight discovery and is very easy to use.</p>
  <li>Enter from and to city/airport</li>
  <li>Select the date of travel</li>
  <li>Choose the number of travelers and hit enter</li><br>
  <p>You’ll be directed to a search list of all the flights available with the cheapest ones on the top. You can further filter your search by choosing preferences and filters like time, duration, number of stops, and by airlines or even look for other dates by just clicking on the calendar visible on the right side of the page.

  </p>
  <h1>What’s more?</h1>
  <p>Flight ticket booking or planning your travel is made simpler with our round trip and multicity options. When you hit enter, your search list page shows the results for both onward and return in a split screen format letting you choose flights in one go for a round trip. The multicity search page shows a list of complete itineraries that removes the hassle of you calculating time, transfers and layovers letting you finish your online flight booking. To ensure you get the best price we highlight offers, sales and other promotions on the checkout page. Post booking, our portal allows for easy cancellations or amendments without having to make calls to the airlines.</p>