

 
    <div class="container">
     
      <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-default navbar-dark bg-dark">
     
                <div> <h1 style="color:white;"><a href="https://www.cognizant.com/in/en" target="_blank" class="navbar-brand">
                  Cognizant</a></h1> <h3 style="color:white;">Welcome to Cognizant flight booking application</h3></div>
        
                <ul class="navbar-nav navbar-collapse justify-content-end">
                 
                    <li><a routerLink="/flightsearch" class="nav-link">Flight Search</a></li> 
                    <li><a routerLink="/contact" class="nav-link">Contact US</a></li> 
                    <li><a routerLink="/about" class="nav-link">About </a></li> 
                     <li><a routerLink="/login" class="nav-link">AdminLogin</a></li> 
                </ul>
           
            </nav>

        </div>
       <div class="card-body">
        <img src="assets/images/fhome.jpg" width="1260" height="300">
       </div>  
   
        <div class="card-footer"><marquee direction="right"> <img src="assets/images/offer.PNG" width="150" height="150"><b> of your first booking</b></marquee></div> 
      </div>

      
    </div>
 
    
  