

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div> <h1><a href="https://www.cognizant.com/in/en" target="_blank" class="navbar-brand">
          Cognizant</a></h1> <h3 style="color:white;">Welcome to Cognizant flight booking application</h3></div>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/userlogin" class="nav-link">UserLogin</a></li> 
             <li><a routerLink="/login" class="nav-link">AdminLogin</a></li> 
        </ul>
    </nav>
</header>

